In [3]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [15]:
data_df = pd.read_table('amountByCityDay2016.txt',index_col=False)

In [16]:
#specialCitys = ['서울','부산','대구','인천','광주','대전']
specialCitys = ['서울']

In [17]:
result_df = pd.DataFrame(columns = ['year','month','day','week','quantity','quantityrate','times','timerate','city'])

In [18]:
appended_data = []
for city in specialCitys:
    temp_df = data_df.loc[data_df['do'] == city].groupby(['year','month','day','week']).sum()   
    temp_df['city'] = city
    appended_data.append(temp_df)

In [19]:
result_df = pd.concat(appended_data)
result_df.to_csv('selectedWasteData2016.csv')

In [72]:
citys = ['동두천','수원','이천','파주','강릉','동해','춘천','삼척','원주','홍천','청주','고창군','군산','남원','부안','순창군','임실','장수','전주','정읍','강진군','고흥','광양시','목포','무안','보성군','순천','여수','영광군','완도','장흥','주암','진도군','해남','흑산도','경주시','구미','문경','봉화','상주','안동','영덕','영주','영천','울릉도','울진','의성','청송군','포항','거제','거창','김해시','남해','밀양','북창원','산청','양산시','의령군','진주','창원','통영','함양군','합천','고산','서귀포','제주']
for city in citys:
    temp_df = data_df.loc[data_df['si'].str.contains(city)].groupby(['year','month','day','week']).sum()   
    temp_df['city'] = city
    appended_data.append(temp_df)

In [78]:
#test
data = pd.read_csv('selectedWasteData2015.csv')
data.tail()

       year  month  day  week    quantity  quantityrate   times  timerate city
10761  2015     12   27     1  21190950.0          3.84  7909.0      3.52   제주
10762  2015     12   28     2  18191850.0          3.29  7040.0      3.14   제주
10763  2015     12   29     3  17397600.0          3.15  7115.0      3.17   제주
10764  2015     12   30     4  17577250.0          3.18  7159.0      3.19   제주
10765  2015     12   31     5  18619100.0          3.37  7569.0      3.37   제주